* {
    background-color: black;
    color: white;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: rgb(200, 200, 255);
}

.disp{
    margin-top: 15%;
    font-size:20vmin;
    background: #351b92;
    text-align: center;
}

.inp{
    text-align: center;
}

